{{extend 'layout.html'}}

<h2>Taxa</h2>
{{=DIV(tnrs_url, _class='tnrsURL', _id="tnrsURL")}}
<table>
	<tr><th>Submitted Name</th><th class="tnrsJsonBlurbHeader">TNRS blurb</th><th>taxon URI</th></tr>
{{for name in name_row_list:}}
	{{=TR(TD(name.original_name), 
	      TD(DIV(name.tnrs_json, _class='tnrsJsonBlurb', _id=str(name.id))),
	      TD(name.taxon_uri),
	      _origname=name.original_name,
	      _class='tnrsNameRow'
	      )}}
	{{pass}}
</table>

<p>TNRS results are/will be from {{=A(tnrs_url, _href=tnrs_url, _class='tnrsURL', _id="tnrsURL")}}</p>
{{proxy_url=URL('proxy_tnrs', args=(tax_query_id,))}}
<div>Proxy TNRS results are/will be from {{=A(proxy_url, _href=proxy_url, _class='proxyURL', _id="proxyURL")}}</p>

<script type="text/javascript">
$(document).ready(function(){
	var f = $(".tnrsJsonBlurb").first();
	if (f.text() == "") {
		f.text(f.attr("id"));
		$.ajax({
			url : $("#proxyURL").text(),
			dataType : 'json',
			crossDomain : false,
			contentType : 'application/json',
			success : function(data, textStatus, jqXHR) {
				f.text("success");
			},
			error : function(jqXHR, textStatus, errorThrown) {
				$(".flash").html("TNRS look: " + jqXHR.responseText).slideDown();
				f.text("failure");
			}
		});
	}

});
</script>