{{extend 'layout.html'}}

<h2>Taxa</h2>
{{=DIV(tnrs_url, _class='tnrsURL', _id="tnrsURL")}}
<table>
	<tr><th>Submitted Name</th><th class="tnrsJsonBlurbHeader">TNRS blurb</th><th>taxon URI</th></tr>
{{for name in name_row_list:}}
	{{=TR(TD(name.original_name, _class='tnrsOrigName'), 
	      TD(name.tnrs_json, _class='tnrsJsonBlurb'),
	      TD(name.taxon_uri, _class='tnrsTaxonUri'),
	      _origname=name.original_name,
	      _class='tnrsNameRow',
	      _id=str(name.id)
	      )}}
	{{pass}}
</table>

<p>TNRS results are/will be from {{=A(tnrs_url, _href=tnrs_url, _class='tnrsURL', _id="tnrsURL")}}</p>
{{proxy_url=URL('proxy_tnrs', args=(tax_query_id,))}}
<div>Proxy TNRS results are/will be from {{=A(proxy_url, _href=proxy_url, _class='proxyURL', _id="proxyURL")}}</p>

<script type="text/javascript">
$(document).ready(function(){
	var hasEmptyJSON = false;
	$(".tnrsJsonBlurb").each(function() {
		if ($(this).text() == "") {
			hasEmptyJSON = true;
		}
	});
	
	/*$("span").text(blurbArray.length);*/
	var f = $(".tnrsJsonBlurb").first();
	if (hasEmptyJSON) {
		f.text("hi");
		$.ajax({
			url : $("#proxyURL").text(),
			dataType : 'json',
			crossDomain : false,
			contentType : 'application/json',
			success : function(data, textStatus, jqXHR) {
				var matchedList = data.names;
				for (var i = 0; i < matchedList.length; i++){
					var matchBlob = matchedList[i];
					var selector = 'tr[origname="' + matchBlob.submittedName + '"]';
					$(selector).each(function () {
						var blurbsInRow = $(this).children('.tnrsJsonBlurb');
						blurbsInRow.text('matched');
					});
				}
			},
			error : function(jqXHR, textStatus, errorThrown) {
				$(".flash").html("TNRS look: " + jqXHR.responseText).slideDown();
				f.text("failure");
			}
		});
	}

});
</script>